<html>
    <head>
        <title>Ansible Study</title>
        <body>
            <h1>DEVOPS GITOPS CLOUDOPS INFRAOPS ops.... ops... ops.. ops.!</h1>
            <h2>O IPS DESSA MAQUINA É: {{ ansible_facts.eth0.ipv4.address }}</h2> 
        </body>
    </head>
</html>