apiVersion: apps/v1
kind: Deployment
metadata:
  name: app1_v1
spec:
  selector:
    matchLabels:
      app: app1
  replicas: {{ num_replicas }}
  template:
    metadata:
      labels:
        app: app1_v1
        version: {{ version }}
      annotations:
        prometheus.io/scrape: "{{ prometheus_scrape }}"
        prometheus.io/port: "{{ prometheus_port }}"
    spec:
      containers:
      - name: app1
        image: linuxtips/nginx-prometheus-exporter:{{ version }}
        ports:
        - containerPort: {{ nginx_port }}
        - containerPort: {{ pro_port }}
        env: 
        - name: VERSION
          value: {{ version }}